<section class="container py-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1>Example</h1>
            <p>This is an example description</p>
            <a href="#">Shop Now</a>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Hero",
        "class": "Hero-section",
        "seettings": [
            {
                "type": "text",
                "id": "title",
                "default": "Example Heading",
            }
        ]
    }
{% endschema %}